body {
    font-family: roboto;
}


.MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.MuiInputLabel-root {
    color: white !important;
}

.MuiInputBase-input {
    color: white !important;
    border-color: white !important;
}

.MuiInput-underline:before {
    border-bottom: 1px solid white !important;
}

.MuiInput-underline:after {
    border-bottom: 1px solid #00bcd4!important;
}

.MuiSelect-icon{
    color: white !important;
} 

.MuiTypography-root {
    color: white !important;
}

.MuiInputBase-input::-webkit-calendar-picker-indicator {
    filter: invert(55%) sepia(98%) saturate(1688%) hue-rotate(144deg) brightness(94%) contrast(101%);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.MuiLinearProgress-bar {
    background-color: #00bcd4 !important;
}

.MuiList-root{
    background-color: #484a4d !important
    
} 

:root {
    --bg: #262A2E;
    --bg-accent: #484a4d;
    --text-color: white;
    --nav-size: 60px;
    --border-radius: 8px;
    --speed: 450ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 10;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
    cursor: default;
}

/* Icon Button */
.icon-button {
    width: 35px;
    height: 35px;
    background-color: #484a4d;
    border-radius: 20%;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}


.icon-button:hover {
    filter: brightness(2.2);
}

.icon-button svg {
    fill: #00bcd4;
    width: 20px;
    height: 20px;
}


/* ProjektListe Menu */

.dropdown {
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.parent {
    display: flex;
    justify-content: flex-end;
    right: 0;
    margin-left: 1rem;
}


#add-project-icon:hover {
    transform: scale(1.5) rotate(9deg) !important;
}