body{
    font-family: roboto;
}

.modalContainer {
    z-index: 999;
    width: 50%;
    min-height: 400px;
    height: 50%;
    border-radius: 12px;
    background-color: white;
    position: fixed;
    left: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #4B4747;
    transform: translate(-50%, 0);
}

.dialogContainer {
   background-color: beige;
    
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
    color: white;
    margin-top: -3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.titleCloseBtn {
    display: flex;
    z-index: 999;

    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.modalContainer .body {
    flex: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: white;
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}